#home {
    background-image: url('../../assets/img/home-page-background.jpg');
    background-size: cover;
    background-position: 0%;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;

    section {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        padding-left: $md;
        padding-right: $md;
        height: 80%;
        width: 35%;
    }

    .cube {
        font-size: 8rem;
        color: $cubecolor;
    }

    h1 {

        font-size: $lg;
        font-weight: 400;
        text-align: center;
        color: $off-white;

        
    }

    .play-button-container {
        width: 100%;
    }

    a.play-button {
        background-color: rgb(64, 145, 64);
        border-radius: $button-radius;
        color: white;
        display: block;
        cursor: pointer;
        padding: $normal;
        text-align: center;
        transition: 0.3% linear all;
    }

    a.play-button:hover {
        background-color: darken(rgb(64, 145, 64), 10%);
        box-shadow: $shadow;   
    }

    .auth-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: $lg;
    }

    #login-button {
        background-color: maroon;
    }
    
    #login-button:hover {
        background-color: darken(maroon, 10%);
        box-shadow: $shadow;
    }

    #register-button {
        background-color: rgb(48, 117, 185);
    }

    #register-button:hover {
        background-color: darken(rgb(48, 117, 185), 10%);
        box-shadow: $shadow;
    }

    .auth-container .auth-buttons {
        color: white;
        cursor: pointer;
        border-radius: $button-radius;
        padding: $normal 0;
        text-align: center;
        transition: 0.3% linear all;
        width: 45%;
    }

    @media (max-width: 768px) {
        #home section {
            padding: 0 $normal;
            width: 100%;
            height: 100%;
        }
    }
        
    
}