#play{
    background-image: url('../../assets/img/home-page-background_blur.png');
    background-size: cover;
    background-position: 0%;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

.questions {
    width: 25cm;
    margin: $lg auto 0 auto;
    padding: $sm $md;


    h2 {
        text-align: center;
        font-weight: lighter;
    }
    
    .lifeline-container {
        border-left: 3px solid black;
        border-top: 3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        background-color: lightgreen;
        border-radius: $button-radius;
        display: flex;
        justify-content: space-evenly;
        margin-left: 70mm;
        margin-right: 70mm;
        
    }

    .lifeline-icon {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }
    
    .lifeline-icon:hover {
        background: none;
        color: darken(orange, 10%);
    }

    .lifeline {
        position: relative;
        top: -3px;
    }

    h5 {
        background-color: whitesmoke;
        border-left: 3px solid black;
        border-top: 3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: $button-radius;
        margin-left: 65mm;
        margin-right: 65mm;
        padding: $normal;
        font-style: italic;
        text-decoration: underline;
        font-size: 1.65rem;
        font-weight: 1000;
        margin-bottom: $lg;
        line-height: 1.5;
        text-align: center;
    }

    .options-container {
        display: inline-block;
        width: 50%;
    }

    .option {
        border-left: 3px solid black;
        border-top: 3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;   
        background-color: $answersblue;
        border-radius: $button-radius;
        color: white;
        cursor: pointer;
        margin: $md auto;
        padding: $normal;
        transition: 0.3s linear all;
        text-align: center;
        width: 90%;
    }

    .option:hover {
        background-color: darken($answersblue, 20%);
    }

    .timer-container .left{
        border-left: 3px solid black;
        border-top: 3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: $button-radius;
        width: 7%;
        background-color: rgb(253, 253, 103);
    }
    .timer-container .right{
        border-left: 3px solid black;
        border-top: 3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: $button-radius;
        width: 8%;
        background-color: rgb(253, 253, 103);
    }
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto $sm auto;
    padding: $md;
    width: 80%;
}

.button-container button {
    border: none;
    color: $off-white;
    cursor: pointer;
    font-family: $quicksand;
    margin-right: $md;
    padding: $xs $sm;
}

.button-container button:first-child {
    background-color: darken($answersblue, 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:first-child:hover {
    background-color: darken($answersblue, 20%);
}

.button-container button:nth-child(2) {
    background-color: green;
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:nth-child(2):hover {
    background-color: darken(green, 20%);
}

.button-container button:last-child {
    background-color: darken(red, 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:last-child:hover {
    background-color: darken(red, 20%);
}

