#profile_page{
    background-image: url('../../assets/img/profile-photo.jpg');
    background-size: cover;
    background-position: 0%;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;

    .profile-info {
        font-size: 1.40rem;
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 100px;
        padding-left: 3%;
        padding-right: 3%;
        padding: $lg;
        background-color: whitesmoke;
        opacity: 0.6;
        border-radius: $button-radius;
        border-left: 2px solid black;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }

    .bottom-buttons{
        padding-top: 500px;  
    }

    .play-button {
        background-color: maroon;
        color: white;
        border-left: 2px solid black;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: $button-radius;
        margin-right: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .play-button:hover {
        background-color: darken(maroon, 10%);
        box-shadow: $shadow;
    }

    .logout-button {
        background-color: rgb(48, 117, 185);
        color: white;
        border-left: 2px solid black;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: $button-radius;
        margin-left: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .logout-button:hover {
        background-color: darken(rgb(48, 117, 185), 10%);
        box-shadow: $shadow;
    }

}
