#inst_back{
    
    background-image: url('../../assets/img/home-page-background_blur.png');

}
.instructions {
    font-size: 1.20rem;
    border: 4px solid darken($off-white, 10%);
    border-radius: 5px;
    margin-top: $lg;
    margin-bottom: $lg;
    padding: $sm $lg;
    background-color: rgb(250, 218, 207);
    opacity: 0.9;

    h1 {
        font-style: italic;
        text-decoration: rgb(255, 179, 179);
        text-decoration: underline;
        font-size: 1.75rem;
        font-weight: 1000;
        margin-bottom: $lg;
        line-height: 1.5;
        text-align: center;
    }

    p {
        font-size: 1.25rem;
    }

    .take-away-buttons {
        font-size: 1.50rem;
        padding-bottom: 25px;
    }

    .lifeline {
        position: relative;
        top: -3px;
    }

    .lifeline-icon {
        color: rgb(0, 218, 0);
        cursor: pointer;
    }

    .browser-default {
        padding-left: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    img {
        width: 80%;
        height: 50%;
    }

}


@media (max-width: $md-breakpoint) {
    .instructions img {
        width: 100% !important;
        height: 150% !important;
    }
}
