#register{
    background-image: url('../../assets/img/home-page-background_blur.png');
    justify-content: space-around ;
    display: flex;    
    height: 100vh;
    width: 100vw;

    #info{
        font-size: 1.40rem;
        margin-top: 60%;
        padding-left: 3%;
        padding-right: 3%;
        padding: $lg;
        background-color: rgb(255, 255, 255);
        border-radius: $button-radius;
        border-left: 2px solid black;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }

    .form {
        font-size: 1.0rem;
    }

    label {
        font-size: large!important;
        width: 150px;
        }

    p{
        font-style: italic;
        font-weight: bold;
        font-size: large!important;
        text-decoration: underline;
        text-align: center;
    }

    #lobby_btn{
        font-size: large!important;
        text-align: right;
        padding-top: $sm;
    }
}
